.sidebar {
    border-right: 1px solid black;
    padding: 10px;
    width: 250px;
    height: 100vh;
    resize: horizontal;
    overflow: auto;
    cursor: col-resize;
}

.entities-list {
    height: 75vh;
    overflow-y: scroll; 
    margin-bottom: 10px;
    margin-top: 10px;
}