<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
        <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">FINTRIX</a>
  </mdb-navbar-brand>

  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>{{ interfaceModellerTitle }}
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>{{ entityModellerTitle }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>{{ ruleModellerTitle }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>{{ fintrixConnectTitle }}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg" class="img-fluid rounded-circle z-depth-0" style="height: 25px;">
          John Smith
        </a>
      </li>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->