<button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Primary</button>
<button mdbBtn type="button" color="default" class="waves-light" mdbWavesEffect>Default</button>
<button mdbBtn type="button" color="secondary" class="waves-light" mdbWavesEffect>Secondary</button>
<button mdbBtn type="button" color="success" class="waves-light" mdbWavesEffect>Success</button>
<button mdbBtn type="button" color="info" class="waves-light" mdbWavesEffect>Info</button>
<button mdbBtn type="button" color="warning" class="waves-light" mdbWavesEffect>Warning</button>
<button mdbBtn type="button" color="danger" class="waves-light" mdbWavesEffect>Danger</button>