.entities-prop {
    border-right: 1px solid black;
    padding: 10px;
    width: 250px;
    height: 90vh;
    resize: horizontal;
    overflow: auto;
    cursor: col-resize;
    direction: rtl;
}

.canvas {
    border: 1px solid red;
}